@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root variables for light and dark modes */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

/* Body styling */
body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition */
  overscroll-behavior: none;
  
  /* Hide scrollbar for Chrome, Safari, Opera, and Edge */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Keyframes */
@keyframes fadeInMoveUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutMoveDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Utility classes */
@layer utilities {
  .fade-in-move-up {
    animation: fadeInMoveUp 0.5s ease-out forwards;
  }

  .fade-out-move-down {
    animation: fadeOutMoveDown 0.5s ease-out forwards;
  }

  .fade-in {
    animation: fadeIn 0.5s ease-out forwards;
  }

  .fade-out {
    animation: fadeOut 0.5s ease-out forwards;
  }

  .text-balance {
    text-wrap: balance;
  }
}
